:root {
  --solid: #fefefe;
  --color-text:#222;
  --color-background: #eee;
  --primary:dodgerblue;
  --text-pirmary: var(--primary)
}
@media (prefers-color-scheme: dark) {
  :root {
    --solid:#444;
    --color-text:#fffe;
    --color-background: #333;
    --primary:skyblue;
    --text-primary:var(--primary);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  /* font-weight: normal; */
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: Roboto, sans-serif;
  /* font-size: 15px; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
