@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
/*CUSTOM CSS*/

.main-wrapper {
  text-align: center;
}
.flex{display: flex;}
header nav{
  background: var(--solid);
}
#app {
  margin: 0 auto;
  font-family: Roboto,Sans-serif;
}
button {
  @apply px-4 py-2 rounded bg-teal-600 shadow-sm hover:bg-teal-700 active:bg-teal-800 active:shadow-inner hover:shadow-md
}

.bg-solid {
  background: var(--solid);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  } 

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}*/
